/* font-family: 'Amiri', serif;
font-family: 'PT Serif', serif; */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

body {
    background-color: white;
}

video,
img {
    width: 100%;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*--Header--*/

.header {
    /* background-color: #608c52;
    text-align: end;
    color: #e0d0a6;
  */
  background-color:white;
  color:#608c52;
}

.header__imagen {
    width: 9vh;
    height: 9vh;
    margin-left: 1vh;
}


.navbaritem:hover {
    background-color:#e0d0a6;
    border-radius: 100%;
    color:#e0d0a6;
}
.nav-link.navbaritem{
    padding: 15px;
    color: #4A643A;
    font-weight:bold;
}

/*--Main--*/

.titulo__cia {
    font-family: 'Amiri', serif;
    font-size: 45px;
    text-align: center;
    padding: 10px;
    color: #608c52;

}

.subt__cia {
    font-family: 'PT Serif', serif;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: #608c52;

}

.img__main{
    text-align: justify;
    margin-top: 5%;
}

.img__main h3{
    text-align: center;
}


.tit__art {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    font-family: 'Amiri', serif;
}



/*--Footer--*/
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #608c52;
    padding: 30px;
    color: #e0d0a6;
    font-family: 'PT Serif', serif;
    text-decoration: none;
}

.redes__titulo {
    display: flex;
    width: 55%;
    justify-content: space-around;
    text-decoration: none;
    font-size: 1.7rem;
    font-family: 'PT Serif', serif;
}

.redes__list {
    display: flex;
    gap: 70px;
}


ul.redes__list li a {
    text-decoration: none;
    color:  #e0d0a6;
}

ul.redes__list li a:hover {
    color:#4A643A ;
}

/*--Pagina Sobre mi--*/
.sobremi__pag img {
    width: 100%;
    height: 38vh;
}

.sobremi__pag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sobremi__titulo {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;

}

.tit__sobremi {
    font-family: 'Amiri', serif;
    font-size: 45px;
    text-align: center;
    padding: 10px;
    color: #608c52;
}

.art__sobremi {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    font-family: "Amiri", serif;
}

/*--Pagina Contacto--*/

.contacto__form {
    background-image: url("../assets/imagenes/limaimg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contacto__div {
    margin: 3% 12%;
    width:75%;
    justify-items: center;
    align-content: center;
    justify-content:center;
    align-items: center;
    background-color: #608c52;
    border-radius: 50px 50px 50px 50px;
    text-align: center;
    line-height: 27px;
    padding: 6%;

}

.boton__send {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 40%;
    font-size: 1rem;
    background-color: #e0d0a6;
}


/*--Pagina Consultorio--*/

.consultorio{
    display: grid;
    grid-template-rows: 2fr;

}

.consul__texto{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    margin-block: 5%;
}

.consul__texto h3{
    text-align: center;
    margin-block-end: 5%;

}


.consul__img{
    margin-left: 10%;
    margin-right: 10%;
}

.tit__consul {
    font-family: 'Amiri', serif;
    font-size: 2rem;
    text-align: center;
    color: #608c52;
    margin-block: 2vh;

}

/*--Pagina Recetas Saludables--*/

.div__recetas {
    display: flex;
    justify-content: space-around;
}

.inforecetas {
    background-color: #608c52;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    width: 100%;
    height: 18cm;
    margin-block-end: 10%;
}

.info__titulo {

    font-family: 'Amiri', serif;
    font-size: 45px;
    text-align: center;
    padding: 20px;
    color: #608c52;

}

.inforecetas__tit {
    font-family: "Amiri", serif;
    font-size: 2rem;
    padding: 45px;
    text-decoration: underline;
}

.inforecetas__subt {
    font-family: "Amiri", serif;
    font-size: 1.2rem;
    padding: 45px;
}

.boton__receta {
    font-family: "Amiri", serif;
    font-size: 1.5rem;
    padding: 45px;
    text-align: center;
    text-decoration: none;
}

.img_container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img_container img {
    height: 350px;
    width: 350px;
    background-color: #608c52;
    border: 2px solid black;
    border-radius: 5px 5px 5px 5px;
}

/*--Ajustes Media Query--*/
@media (min-width:768px){


 /*--Pagina consultorio--*/
 .consultorio{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

}

.consul__img {
align-content: center;
justify-content: center;
margin-block: 5vh;
}

/*--Pagina Contacto--*/
 .contacto__div {
    width: 45%;
    text-align: center;
    padding: 3.4%;

}

/*--Pagina Sobre mi--*/
.sobremi__pag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sobremi__pag img {
    width: 60vh;
    height: 70vh;
    margin-left: 10%;
}


}

@media (min-width:1024px){
   /*--Pagina Contacto--*/
    .contacto__div {
        width: 30%;
        padding: 4%;
    }
}



@media (max-width:460px){
    /*--Footer--*/
    .redes__titulo {
        font-size: 1.3rem;
    }

    .redes__list {
        gap: 10px;
    }

}
