* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: $tipografia-principal;
}

body {
    background-color: $color-fondo;
}

video,
img {
    width: 100%;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}